body {
    height: 90vh;
    background-color: #F8C8DC;
}

#response {
    display: none;
}

#responseVideo {
    visibility: hidden;
}

#noVideo {
    visibility: hidden;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.title_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.invitation_btn {
    background-color: #E75480; /* Dark Pink */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.invitation_btn:hover {
    background-color:  #C84970; /* Darker Pink on hover */
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .title_text {
        color: black;
        font-size: 40px;
    }

    .qr_image {
        max-width: 50%;
        padding-left: 25%;
    }

    .gif_container {
        margin-left: 0;
        height: auto;
        width: auto;
    }
}
